$ml-yellow: #FFE600;
$ml-dark: #000;
$ml-dark-gray: #333333;
$ml-medium-gray: #666666;
$ml-gray: #999999;
$ml-light-gray: #EEEEEE;
$ml-blue: #3483FA;
$ml-white: #FFF;
$ml-blue-600: #2968c8;

$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-20: 20px;
$spacing-40: 40px;
